<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-5">
            <h3><%= "ToDo Nº #{@todo.id}" %></h3>
            <div class="container">
                <h5><%= "Description: #{@todo.description}" %></h5>
                <h5><%= "State: #{@status}" %></h5>
            </div>
        </div>
    </div>
</div>